* {
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#topLine {
  position: absolute;
  top: 5%;
  left: 36.5vw;
  width: 75%;
}

#sideLine {
  position: absolute;
  top: 5%;
  right: 19%;
}

#bottomLine {
  position: absolute;
  bottom: 28%;
  left: 15%;
  width: 72%;
}

#puzzleBoard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  overflow: hidden;
  position: absolute;
  bottom: 9%;
  left: 12%;
  height: 10%;
  width: 70%;
}

#guessLetter {
  position: absolute;
  top: 20%;
  right: 3%;
}

#solvePuzzle {
  position: absolute;
  top: 40%;
  right: 3%;
}

#scoreCard {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-template-rows: repeat(5, minmax(0, 1fr));
  border: solid 3px black;
  height: 40%;
  width: 25%;
  position: absolute;
  top: 10%;
  left: 5%;
}

#hangman {
  position: absolute;
  top: 10%;
  left: 45%;
}

.character-item {
  display: grid;
  grid-row: 1;
  border: solid 1px black;
  align-content: center;
  min-width:0;
  min-height:0;
}

.incorrectGuessItem {
  display:grid;
  align-content: center;
  min-width: 0;
  min-height: 0;
}

.space-item {
  display: inline-grid;
  grid-row: 1;
  background-color: lightgray;
  border: solid 1px black;
}

.controlButton {
  height: 10%;
  width: 15%;
  background-color: firebrick;
  border: outset 1px black;
  color: white;
  border-radius: 8%;
}

.bodyPart {
  opacity:0;
}

#hangmanContainer {
  height: 300px;
  width: 200px;
  position: absolute;
  left: 43%;
  top: 11%;
}

#head {
  width: 150vw;
  position: relative;
  top: 8%;
  left: 30%;
}



#body {
  position: relative;
  transform-origin: left;
  transform: rotate(90deg);
  background: black;
  top: 7%;
  left: 51%;
  width: 1px;
  height:.1px;
  background: black;
  transition: width 1s;
}

#rarm {
  position: absolute;
  transform-origin: left;
  transform: rotate(-45deg);
  top: 45%;
  left: 51%;
  height: .1px;
  width: 1%;
  background: black;
  transition: width 1s;
}

#larm {
  position: absolute;
  transform-origin: left;
  transform: rotate(220deg);
  top: 44%;
  left: 51%;
  width: 1%;
  height: .1%;
  background: black;
  transition: width 1s;
}

#rleg{
  position: absolute;
  transform-origin: left;
  transform: rotate(65deg);
  top: 58%;
  left: 50%;
  height: .1px;
  width: 1%;
  background: black;
  transition: width 1s;
}

#lleg {
  position: absolute;
  transform-origin: left;
  transform: rotate(120deg);
  top: 58%;
  left: 50%;
  height: .1px;
  width: 1%;
  background: black;
  transition: width 1s;
}

#headCircle {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: solid 5px transparent;
}

@keyframes fadeIn{from{opacity:0}to{opacity:1}}
/*@keyframes borderColor{from{border: solid 5px transparent}to {border: solid 5px black}}*/

.fadeInContainer {
  opacity: 1;
  animation-duration: 1s 0 1;
  animation:fadeIn 2s ease-in 1;
}

.drawBodyPart {
  border-top: solid 2px black !important;
  border-left: solid 2px black !important;
  border-bottom: solid 2px black !important;
  border-right: solid 2px black !important;
  transition: border-top-color 200ms linear 0.1s, border-right-color 100ms linear 0.9s, border-bottom-color 100ms linear 1s, border-left-color 100ms linear 1.4s;
  opacity: 1;
}

.drawHead {
  height:80px;width:80px;position:absolute;top:1%;left:1px;border-top:solid 4px black;border-radius:100%;z-index:2;transform:none;opacity:0;
}

@media screen and (max-width: 1130px) {
  #puzzleBoard {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    overflow: hidden;
    position: absolute;
    bottom: 9%;
    left: 5%;
    height: 10%;
  }
}

@media screen and (max-width: 1050px) {
  #bottomLine {
    bottom: 26%;
    left: 14.5%;
  }
}

@media screen and (max-width: 1010px) {
  #topLine {
    left: 35.5%;
  }
}

@media screen and (max-width: 950px) {

}

@media screen and (max-width: 780px) {
  #puzzleBoard {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    overflow: hidden;
    position: absolute;
    bottom: 9%;
    left: 2.5%;
    height: 5%;
  }

  #bottomLine {
    left: 13.5%;
  }

  #topLine {
    left: 34.8%;
  }

  #hangmanContainer {
    left: 39%;
  }
}

@media screen and (max-width: 580px) {
  #hangmanContainer {
    left: 32%;
  }

  #topLine {
    left: 33%;
  }

  #bottomLine {
    left: 12.5%;
  }
}





/*animation-duration: 1s 0 1;
animation:borderColor 3s ease-in 1;*/
}
